*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to left, #aa076b, #61045f);
}
h1{
    text-align: center;
    color: #fff;
}
.corpo form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.corpo form input{
    margin: 5px;
    padding: 5px;
    border: 1px solid #0582ca;
    border-radius: 10px;
    color: #0582ca;
    outline: none;
}
p{
    color:#0582ca;
}
.botao{
    border-radius: 50px;
    
}
.botao .btn1{
    padding: 10px 30px;
    color: #fff;
    border: none;
    background-color: #006494;
}
.botao .btn2{
    padding: 10px 30px;
    color: #fff;
    border: none;
    background-color: #ff4800;
}
.txt1{
    margin: 20px;
    padding:  20px 20px;
    border-radius: 40px;
    background-color: #f85e00;
}
#txt{
    color: #fff;
}