*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.topo ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background: #008a77;
    color: #fff;
    cursor: pointer;
}
.teste{
    border-bottom: 1px solid #000;
    padding: 10px;
    outline: none;
    background: none;
    color: #fff;
}
.topo ul li{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px;
    transition: .6s;
}
ul li:hover{
    border: 1px solid #fff;
    border-radius: 20px;
}
input::placeholder{
    color: #fff;
}
.p1{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #f0feff;
}
.header{
    align-self: center;
    text-align: center;
}
.header h1{
    font-size: 30pt;
    line-height: 80px;
    color: #008a77;
}
p{
    text-align: center;
    color: #6e6e6e;
}
.header a{
    color: #000;
    text-decoration: none;
    border: 2px solid #008a77;
    line-height: 80px;
    padding: 10px 50px;
    border-radius: 50px;
    transition: 0.3s;
}
.main{
    align-self: center;
    text-align: center;
}
.main ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 10px;
}
.main h2{
    color: #008a77;
    font-size: 25pt;
}
.formm{
    display: flex;
    flex-direction: column;
    padding: 10px;
} 
.formm input{
    border: 2px solid none;
    outline: none;
    text-align: left;
    background: #e0e0e0;
    padding: 10px;
    margin: 5px;
}
.formm .btn{
    border: 2px solid none;
    text-align: center;
    background-color: #008a77;
    border-radius: 20px;
    color: #fff;
    transition: 0.3s;
}
.btn:hover{
    background: none;
    border: 2px solid #008a77;
    color: #000;
}
.botao:hover{
    background: #008a77;
    color: white;
}
